@media (max-width : 480px)
{

  .buttons
  {
    padding  : 0 0 15px 15px;
    position : relative;
    z-index  : none;
  }
  
  #resume {
    grid-template-columns : 1fr;
    margin                : 1rem auto;
    padding               : 1.2rem;
    width                 : 100%;
  }

  .q1,
  .q2,
  .q3,
  .q4
  {
    grid-column : 1;
  }
  .q3
  {
    order : 2;
  }
  .q4
  {
    order : 1;
  }

}