@media (max-width : 480px)
{

  .buttons
  {
    padding  : 0 0 40px 12px;
    position : relative;
    z-index  : none;
  }
  
  #resume {
    grid-template-columns : 1fr;
  }

  .q1,
  .q2,
  .q3,
  .q4
  {
    grid-column : 1;
  }
  .q3
  {
    order : 2;
  }
  .q4
  {
    order : 1;
  }

}